<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git and GitHub Assignment</title>
</head>
<body>
    <h1>To-Do Item</h1>

<form>
    <label for="itemName">Item Name:</label>
    <br><br>

<label for="itemId">Item ID:</label>
<input type="text" id="itemId" name="itemId">
    <input type="text" id="itemName" name="itemName">

    <br><br>

    <label for="itemDescription">Item Description:</label>
    <textarea id="itemDescription" name="itemDescription"></textarea>

    <br><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>